.navbar-expand-sm .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-expand-sm .navbar-toggler,
.navbar-expand-sm .navbar-toggler .icon-bar {
  border-color: #ffffff;
}
h1 {
  font-weight: 900;
  height: 36px;
  margin: 0;
  line-height: 1;
}
h2 {
  margin: 0;
  line-height: 1;
  color: #455A64;
  text-align: center;
  padding-top: 0.5em;
}
h3 {
  font-weight: 700;
  height: 30px;
  margin: 0;
  line-height: 1;
}
h4 {
  margin: 0;
  line-height: 1;
  color: #212121;
  text-align: center;
  padding-top: 0.5em;
}
h5 {
  margin: 0;
  line-height: 1;
  color: #212121;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.main-nav {
  line-height: 36px;
}
.main-nav ul {
  margin-bottom: 0;
}
.main-nav li.divider {
  color: #ccc;
}
.main-nav a {
  text-decoration: none;
}
.main-nav a:hover {
  border-bottom: 5px solid #ccc;
  transition: border-color 0.2s ease;
}
p {
  text-align: center;
}
h1 {
  margin: 1em;
  text-align: center;
}
body {
  background: #ffffff;
  font-family: "Raleway", "Helvetica Neue", helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #212121;
}
th {
  text-align: center;
}
.centered {
  text-align: center;
}
.bg {
  background: #bcaaa4;
}
.header {
  padding: 4em 0;
}
.nav-header {
  /*background: @md-primary;*/
  background: #2f2f2f;
}
.navbar-brand {
  color: #f4f4f4;
  padding-left: 1em;
}
.navbar-brand:hover {
  color: #9E9E9E;
}
.header .container {
  background: #ffffff;
  padding-left: 0;
  padding-right: 0;
}
footer {
  text-align: center;
  color: #ffffff;
  padding-bottom: 4em;
  padding-top: 15em;
}
.container .bottom-padd {
  padding-top: 4em;
}
footer .container {
  background: #333;
  padding: 4em 0;
}
.social-media {
  padding: 1em 0;
}
.social-media a {
  padding: 0 0.5em;
  color: #ffffff;
}
.social-media a:hover {
  color: #ccc;
}
.container .points {
  background-color: #bcaaa4;
  padding: 2em;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.media {
  padding-right: 20px;
}
.media-body {
  padding-left: 20px;
}
.container .points-bg {
  background-color: lime;
}
.dark-bg-link {
  color: #ccc;
}
.card-link {
  color: #212121;
}
.card-link:hover {
  color: #2c3e50;
}
/*.card {
    background: fade(@grey, 45%);
    .round-corners;
}*/
.rules-card {
  background: rgba(96, 125, 139, 0.55);
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
/*
.card-body {
    background: fade(@grey, 65%);
}*/
#padds {
  /*background: @md-dark-primary;*/
  /*background: @primary; */
  background: #212529;
}
#available {
  width: 350px;
  height: 70px;
  padding: 10px;
  border-width: 0.1em;
  border-color: slategray;
}
.player-slot {
  width: 350px;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 0.1em;
  border-color: lightblue;
  border: solid;
}
.nav {
  padding: 30px;
}
a {
  text-decoration: none;
  color: #f4f4f4;
}
a:hover {
  text-decoration: none;
  color: #9E9E9E;
}
.card {
  border-width: 1px;
  border-color: #bdbdbd;
  margin: 1em;
}
.spacer {
  padding: 10px;
}
#padd-left {
  padding-left: 70px;
}
.navy1 {
  color: #34495e;
}
.navy1-bg {
  background: #34495e;
}
.navy2 {
  color: #2c3e50;
}
.navy2-bg {
  background: #2c3e50;
}
.align-left {
  text-align: left;
}
/*.opacity-25 {
    opacity: 25%;
}

.opacity-50 {
    opacity: 50%;
}*/
.nav-link,
.navbar-brand {
  color: aliceblue;
}
.nav-link:hover,
.navbar-brand:hover {
  font-weight: 600;
  color: aliceblue;
}
td > a {
  color: black;
}
td > a:hover {
  color: #9E9E9E;
  font-weight: 600;
}
div.modal-header > h5 {
  font-weight: 600;
}
td a {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
li {
  font-size: larger;
  padding-bottom: 0.18em;
}
@media screen and (max-width: 600px) {
  .modal-backdrop {
    /* bug fix - no overlay */
    display: none;
  }
}
